<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link rel="icon" type="image/png" href="https://e7.pngegg.com/pngimages/6/979/png-clipart-spring-framework-computer-icons-spring-web-flow-java-advancement-leaf-logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
    <div id="header" class="d-flex bg-dark">
        <div id="header_login" class="p-2 text-white font-weight-bold"></div>
        <div id="header_roles" class="p-2 w-100 text-white"></div>
        <a class="p-2 text-secondary text-right text-decoration-none" th:href="@{/logout}"> Logout </a>
    </div>
    <div class="row">
        <div class="col-2 mt-3 p-0">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a class="nav-item nav-link active ml-2" data-toggle="pill" href="#user_panel" role="tab" aria-controls="user_panel" aria-selected="true">User</a>
            </div>
        </div>
        <div class="col-10 p-0">
            <div class="tab-content bg-light p-2">
                <div class="tab-pane fade show active pl-3" style="height: 700px;" id="user_panel"
                     role="tabpanel" aria-labelledby="user_panel">
                    <h1>User information page</h1>
                    <div class="pl-3 pt-1 d-flex border-top border-left border-right"><h4> User info </h4></div>
                    <div class="bg-white border p-3">
                        <table class="table table-striped border-top">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Login</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="user_info"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

    <script src="/listRoles.js"></script>
    <script src="/showHeader.js"></script>
    <script src="/showUserInfo.js"></script>
</body>
</html>